@import "../variable";
@import "../mixins";

//NEW SECTION
.category__wrapper {
  @include flex(center, space-between);
  @include adaptive-value(row-gap, 40, 10, 4);
  flex-wrap: wrap;
}

.category__block {
  @include flex(end, space-between);
  @include adaptive-value(height, 230, 125, 10);
  @include adaptive-value(width, 430, 130, 15);
  background-color: $paper;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  border: 1px solid $white;

  &:hover {
    border: 1px solid $dark;
  }
}

.category__img {
  @include adaptive-value(height, 230, 80, 10);
  @include adaptive-value(width, 430, 135, 10);
}

.category__text {
  @include font(24, 14, medium, 1.5);
  color: $dark;
  position: absolute;
  @include adaptive-value(right, 24, 12, 4);
  bottom: 16px;

  @media (max-width: 900px) {
    bottom: 75%;
  }
}

.category__add {
  @include adaptive-value(height, 230, 130, 10);
  @include adaptive-value(padding-inline, 24, 12, 4);
  @include adaptive-value(padding-block, 48, 16, 4);
  width: 63.4%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: right;
  background-image: url(../../../public/images/category-add.png);
  @include flex(flex-start, center);
  flex-direction: column;

  @media (max-width: 708px) {
    width: 100%;
  }
}

.category__add--title {
  @include font(40, 18, medium, 1.5);
  color: $white;
}

.category__add--subtitle {
  @include font(16, 12, regular, 1.5);
  color: $white;
}

//NEW SECTION
.newest {
  @include flex(stretch, space-between);
  flex-direction: column;
  @include adaptive-value(margin-top, 96, 32, 6);
  @include adaptive-value(row-gap, 24, 12, 4);
}

.newest__title {
  @include font(40, 20, medium, 1.5);
  color: $dark;
}

.newest__content {
  @include flex(center, space-between);
  row-gap: 24px;
  column-gap: 10px;
  flex-wrap: wrap;
}

//NEW SECTION
.production {
  @include column;
  @include adaptive-value(row-gap, 34, 24, 8);
  @include adaptive-value(margin-top, 96, 24, 6);
}

.production__title {
  @include font(40, 20, bold, 1.5);
  color: $dark;
}

.production__row {
  display: flex;
  flex-wrap: wrap;
  column-gap: 20%;
  row-gap: 20px;
}

.production__video {
  display: flex;
  align-items: center;
  @include font(20, 14, medium, 1.5);
  color: $dark;
  
  & > svg {
    transform: translateX(-25px);
  }
}

.production__letter {
  @include font(20, 14, medium, 1.5);
  color: $dark;
  max-width: 660px;
  width: 100%;
}

//NEW SECTION
.interior {
  margin-top: 96px;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

//NEW SECTION
.designer {
  margin-block: 96px;
}

.designer__info {
  max-width: 700px;
  width: 100%;
  font-size: 20px;
  color: $dark;
  margin-top: 24px;
}

.designer__divider {
  margin-block: 20px;
  display: block;
}

.designer__link {
  position: relative;
  max-width: max-content;
  color: $dark;
  display: flex;
  align-items: center;
  gap: 10px;
  margin-block: 32px;

  &::after {
    content: "";
    position: absolute;
    top: 20px;
    left: 0%;
    height: 1px;
    width: 100%;
    background-color: $dark;
  }
}

.designer__img {
  width: 100%;
}
