@mixin flex($alignItem: center, $justifyContent: center) {
  display: flex;
  align-items: $alignItem;
  justify-content: $justifyContent;
}

@mixin font($size, $min_size, $weight, $height) {
  @include adaptive-value("font-size", $size, $min_size, 1);
  font-weight: $weight;
  line-height: $height;
}

$maxWidth: 1920;
$maxWidthContainer: 1440;
@mixin adaptive-value($property, $startSize, $minSize, $type) {
  $addSize: $startSize - $minSize;

  @if $type == 1 {
    #{$property}: $startSize + px;
    @media (max-width:#{$maxWidthContainer + px}) {
      #{$property}: calc(
        #{$minSize + px} + #{$addSize} *
          ((100vw - 320px) / #{$maxWidthContainer - 320})
      );
    }
  } @else if $type == 2 {
    #{$property}: $startSize + px;
    @media (min-width:#{$maxWidthContainer + px}) {
      #{$property}: calc(
        #{$minSize + px} + #{$addSize} * ((100vw - 320px) / #{$maxWidth - 320})
      );
    }
  } @else if $type == 3 {
    #{$property}: $startSize + px;
    @media (max-width: 1024px) {
      #{$property}: calc(
        #{$minSize + px} + #{$addSize} *
          ((100vw - 320px) / #{$maxWidthContainer - 320})
      );
    }
  } @else {
    #{$property}: calc(
      #{$minSize + px} + #{$addSize} * ((100vw - 320px) / #{$maxWidth - 320})
    );
  }
}

@mixin adaptiveGap($gap) {
  display: flex;
  gap: ($gap) + px;
}

@mixin center {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin column {
  display: flex;
  flex-direction: column;
}
