@import "../../../styles/variable";
@import "../../../styles/mixins";

.production__swiper {
  position: relative;
}

.production__slide {
  @include adaptive-value(height, 235, 125, 10);
  @include adaptive-value(width, 284, 174, 10);
}

.production__slide img {
  display: block;
  object-fit: cover;
}

.production__button {
  position: absolute;
  top: 42%;
  width: 54px;
  height: 54px;
  z-index: 10;
  color: $dark;
  background-color: $white;
  border-radius: 50%;
  display: block;
  box-shadow: -1px 0px 33px -4px rgba(168, 168, 168, 0.42);

  &:hover {
    width: 60px;
    height: 60px;
  }
}

.production__button--next {
  right: -2%;
}

.production__button--prev {
  left: -2%;
}

.production__button--next:after,
.production__button--prev:after {
  display: none;
}

.production__button--prev svg,
.production__button--next svg {
  width: 50%;
}
