@import "../../../styles/variable";
@import "../../../styles/mixins";

.blog {
  margin-top: 96px;
  @include column;
  gap: 24px;
}

.blog__slide {
  @include column;
  row-gap: 16px;
  height: max-content;
  
  & > img {
    height: 213px;
    object-fit: contain;
  }

  & > div {
    text-align: left;
  }
}

.blog__swiper {
  position: relative;
}

.blog__button {
  position: absolute;
  top: 42%;
  width: 54px;
  height: 54px;
  z-index: 10;
  color: $dark;
  background-color: $white;
  border-radius: 50%;
  display: block;
  box-shadow: -1px 0px 33px -4px rgba(168, 168, 168, 0.42);

  &:hover {
    width: 60px;
    height: 60px;
  }
}

.blog__button--next {
  right: -2%;
}

.blog__button--prev {
  left: -2%;
}

.blog__button--next:after,
.blog__button--prev:after {
  display: none;
}

.blog__button--prev svg,
.blog__button--next svg {
  width: 50%;
}
